<p>An email verification link was requested against your email!</p>
<p>It was not you? then ignore this email</p>
<p><a href='{{callback_url}}'>Verify Now,</a>
  this link will automatically expire in 10 minutes</p>