<p>Hello, {{first_name}}</p>

<p>Your login credentials for
  <a href='https://systems.{{host}}' target='_blank'>Safetrade Systems</a>
</p>

<pre>
  email:
  {{email}}
  password:
  {{password}}
</pre>